.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px; /* or 106% */
}

@media screen and (max-width: 984px) {
  .place__title {
    font-size: 42px;
    line-height: 46px; /* or 110% */
  }
}

@media screen and (max-width: 689px) {
  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px; /* identical to box height, or 109% */
  }
}
