.header__links {
  margin: calc(46px - 28px) 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 18px;
}

@media screen and (max-width: 689px) {
  .header__links {
    margin-top: calc(30px - 16px);
  }
}
