.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 28px 48px;
}

@media screen and (max-width: 1184px) {
  .header {
    margin: 28px 48px 20px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    margin: 28px 24px 20px;
  }
}

@media screen and (max-width: 689px) {
  .header {
    margin: 16px 16px 20px;
  }
}
