.lead__title {
  margin: 0;
  padding-top: 28px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px; /* or 104% */
  text-align: center;
  max-width: 720px;
}

@media screen and (max-width: 689px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px; /* or 110% */
  }
}
