.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px; /* identical to box height, or 114% */
  text-align: right;
}

@media screen and (max-width: 689px) {
  .footer__copyright {
    line-height: 14px; /* identical to box height, or 100% */
  }
}
