.cover {
  margin: 92px 48px;
}

@media screen and (max-width: 1184px) {
  .cover {
    margin: 92px 0;
  }
}

@media screen and (max-width: 984px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 689px) {
  .cover {
    margin: 66px 0 64px;
  }
}
