/* Подключаем файл normalize.css */
@import url('../vendor/normalize.css');

/* Подключаем шрифты */
@import url('../vendor/fonts/fonts.css');

.body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: #2A2C2F;
  color: #FFFFFF;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 1184px;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 28px 48px;
}

.header__logo {
  margin: 0;
  width: 177px;
  height: 52px;
}

.header__links {
  align-self: flex-end;
}

.header__link {
  margin: 0;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link_ru {
  text-decoration: underline;
  padding-right: 18px;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 984px;
}

.lead__title {
  margin: 0;
  padding-top: 28px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px; /* or 104% */
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  margin: 0;
  padding: 32px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px; /* or 120% */
  text-align: center;
  max-width: 640px;
}

.lead__image-figure {
  box-sizing: border-box;
  margin: 0;
}

.lead__image {
  margin: 0;
  padding-top: 32px;
  max-width: 100%;
}

.lead__caption {
  margin: 0;
  padding-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px; /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  display: block;
  margin: 92px auto;
  max-width: 984px;
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px; /* identical to box height, or 107% */
}

.intro__text {
  margin: 0;
  padding: 40px 0 33px 0;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%; /* or 26px */
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro__list-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px; /* or 150% */
}

.intro__span-accent {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px; /* or 150% */
}

.photo-grid {
  display: grid;
  margin: 0 48px 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  display: flex;
  flex-direction: column;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: 0 148px;
  padding-bottom: 80px;
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px; /* or 106% */
}

.place__image {
  width: 100%;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; /* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; /* identical to box height, or 122% */
  color: white;
  transition: opacity 0.3s ease;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%; /* or 29px */
  text-wrap: normal;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

.cover {
  margin: 12px 48px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 740px;
}

.cover__title {
  margin: 0;
  padding-bottom: 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px; /* or 106% */
  text-align: center;
  z-index: 1;
}

.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; /* or 122% */
  text-align: center;
  z-index: 1;
}

.cover__link {
  display: block;
  width: 100%;
  height: 100%;
}

.cover__overlay {
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.8s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__overlay:hover {
  opacity: 0.8;
}

.cover__background {
  box-sizing: border-box;
  background-image: url('../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer {
  margin: 0 48px 24px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  padding-right: 18px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px; /* identical to box height, or 112% */
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px; /* identical to box height, or 114% */
  text-align: right;
}

@media screen and (max-width: 1184px) {
  .header {
    margin: 28px 48px 20px;
  }
  .lead {
    width: 928px;
  }
  .lead__image {
    padding-top: calc(32px - (64px - 56px));
  }
  .intro {
    max-width: 928px;
  }
  .photo-grid {
    gap: 14px;
  }
  .place {
    grid-template-columns: 440px 1fr;
    margin: 0 48px;
    gap: 48px 32px;
  }
  .cover {
    margin: 12px 0 92px;
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    margin: 28px 24px 20px;
  }
  .lead {
    width: 768px;
  }
  .lead__caption {
    margin-left: 24px;
  }
  .intro {
    margin: 88px auto;
    max-width: 720px;
  }
  .photo-grid {
    gap: 16px;
    margin: 0 24px 88px;
  }
  .place {
    grid-template-columns: 340px 1fr;
    margin: 0 24px;
    gap: 48px 28px;
    padding-bottom: 73px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px; /* or 110% */
  }
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 16px;
  }
  .cover {
    margin: 17px 0 88px;
    min-height: 480px;
  }
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: )
