.cover__background {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  position: relative;
}

/* стили для оверлея */
.cover__background::before {
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.8s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 689px) {
  .cover__background {
    min-height: 200px;
  }
}
